.rooms{
    a{  // !! make rooms width 100%
        width: 100%;
    }
}

.myMsg{
    background-color: lightgreen;
    margin-left: auto;
}

.otherMsg{
    background-color: rgb(219, 244, 253);
    margin-right: auto;
}

.updatedMsg{
    border-left: 5px solid green;
}

.deletedMsg{
    border-left: 5px solid red;
}

.restoredMsg{
    border-left: 5px solid orange;
}

.msg{
    max-width: 330px;
    hyphens: auto;
    white-space: pre-line;
    word-break: break-all;
}