.myMsg{
    background-color: lightgreen;
    margin-left: auto;
}

.otherMsg{
    background-color: rgb(219, 244, 253);
    margin-right: auto;
}

.updatedMsg{
    border-left: 5px solid green;
}

.deletedMsg{
    border-left: 5px solid red;
}

.msg{
    max-width: 330px;
    hyphens: auto;
    white-space: pre-line;
}

.updatedMessageText{
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
}