.rooms{
    a{  // !! make rooms width 100%
        width: 100%;
    }
}

.myMsg{
    background-color: rgb(195, 255, 195);
    box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.6); // right shadow
}

.otherMsg{
    background-color: rgb(219, 244, 253);
    box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.6); // left shadow
}

.updatedMsg{
    border-left: 5px solid lighten(lightgreen, 0%);
}

.deletedMsg{
    border-left: 5px solid #D3D3D3;
    background: #eaeaea;
}

.restoredMsg{
    border-left: 5px solid lighten(orange, 30%);
}

.replyMsg{
    border-left: 5px solid #87CEEB;
    padding-left: 10px;
    background: transparent !important;
}

.msg{
    max-width: 500px;
    hyphens: auto;
    white-space: pre-line;
    word-break: break-all;
}