@import "../../scss/vars.scss";

// Dialog: unbind mui's setting, so I can set any width and height
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    max-width: 100vw !important;
    max-height: 100vh !important;
}

// mui dark dialog
.darkDialog{
	.MuiDialog-container.MuiDialog-scrollPaper{
		.MuiPaper-root{
			background: $dark300 !important;
		}
	}
	* {
		color: $white !important;
	}
	input{
		color: $white;
	}
}