// ! BACKGROUND & COLOR
.brand{
	color: $brand;
}
.danger{
	color: $danger !important;
}
.white{
	color: $white;
}
.black{
	color: $black;
}
.gray{
	color: $gray;
}
.green{
	color: #46B7A7;
	&_d10{
		color: darken(#46B7A7, 10%);
	}
}
.bg{
	&_gray{
		background: #dadada;
	}
	&_green{
		background: #85b9b2;
	}
	&_white{
		background: $white;
	}
	&_black{
		background: $black;
	}
	&_brand{
		background: $brand;
	}
	&_danger{
		background: lighten($danger, 25%) !important;
	}
	&_app{
		background: $appBg;
	}
	&_transparent{
		background: transparent;	
	}
}
.border{
	&_danger{
		border: 1px solid $danger !important;
	}
	&_black{
		border: 2px solid $black;
	}
}