// color
$appBg: #F2F2F2;
$black: #131313;
$white: #fff;
$brand: #D19B5B;
$danger: tomato;
$gray: #777777;
// theme
$dark100: #111;
$dark200: #1E1E1E;
$dark300: #2D2D2D;
$dark700: #333;
$dark800: #222;
// width
$wS: 330px; // 360p mobile -30px padding
$wM: 675px;
$wL: 1100px;
$cardsWidth: 1380px;
// breakpoints
$mobile: 768px;
$tablet: 1100px;
// borders
$borderRadiusLarge: 20px;
$borderRadiusMedium: 10px;
$borderRadiusSmall: 5px;
// other
$fontMain: Montserrat;
$fontSecondary: Roboto;